/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue1: #3f63bf;
  --color-blue2: #0046b6;
  --color-blue3: #00aaff;
  --color-light-yellow: #fefbf2;
  --color-orange: #ff6f00;
  --color-black: #000000;
  --color-green: #00a138;
  --color-yellow: #f9cf13;
  --color-dark-yellow: #ffc400;
  --color-red: #ff0000;

  /* Font size */
  --font-xllarge: 60px;
  --font-large: 48px;
  --font-medium: 32px;
  --font-regular: 20px;
  --font-small: 14px;
  --font-micro: 16px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annmation */

  --anmation-duration: 300ms;

  --main-width: 1035px;
}
/* Universal tags  */
* {
  box-sizing: border-box;
}

body {
  font-family: CeraPro, Noto Sans JP, Nanum Gothic, Helvetica-Light, Helvetica,
    Arial, sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}
/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}
/* COMMON */
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #777;
  text-decoration: dashed;
}
.inner {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
}
/* COMMON */

/* ANIMATION */
@keyframes dropDown {
  0% {
    opacity: 0;
  }
  12% {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    /* transform: translate(0); */
  }
}

#content {
  margin-bottom: 100px;
}

/* Main */
.hotel_main {
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hotelmain_img {
  background: url(/h_ho_room_04/entertainment-at-adventure-play.jpg)
    center/cover no-repeat;
  margin-top: 90px;
  width: 100vw;
}

.hotelmain_img img {
  width: 100vw;
  height: auto;
  display: block;
}

.hotel_title {
  margin-top: 6.5rem;
  margin-bottom: 5.5rem;
  background: var(--color-green);
  width: 800px;
  height: 110px;
  opacity: 90%;
}

.hotel_title > h1 {
  margin: 0;
  font-size: var(--font-large);
  font-weight: bold;
  color: var(--color-white);
  text-align: center;
  line-height: 110px;
}

/* textarea_title */

/* Slide */

#gallerybox1,
#gallerybox2 {
  width: 1350px;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  border: 1px solid var(--color-light-grey);
  border-radius: var(--size-border-radius);
  margin: 60px 0px;
  cursor: pointer;
}

.gallery__container:hover {
  background: rgb(247, 247, 247);
}

.slide {
  width: 400px;
  height: 400px;
  overflow: hidden;
  position: relative;
}
.slide ul {
  width: 5000px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
}
.slide ul li {
  display: inline-block;
}
#back1,
#back2 {
  position: absolute;
  bottom: 0px;
  left: 0;
  cursor: pointer;
  z-index: 1;
}
#next1,
#next2 {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  z-index: 1;
}
/* .red__button {
  margin-top: 8%;
  width: 255px;
  height: 60px;
  font-size: var(--font-regular);
  background: #d01012;
  color: white;
} */

.textarea_title h2 {
  line-height: 30px;
  color: var(--color-black);
  font-weight: var(--weight-bold);
  font-size: var(--font-micro);
  margin-top: 100px;
  text-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  background: var(--color-orange);
  width: 1200px;
  height: 1px;
  border: 0;
}

.textarea_description_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
}
.galleryborder {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.galleryborder__wrap {
}
.galleryborder_title {
  width: 700px;
  height: 100%;
  margin: 0 auto;
}

.galleryborder_title h2 {
  margin: 20px 0;
  color: var(--color-blue3);
  font-weight: var(--weight-bold);
  font-size: var(--font-large);
}

.galleryborder__description {
  font-weight: var(--weight-bold);
  font-size: var(--font-micro);
  word-break: break-word;
}
.galleryborder__description2 {
  font-weight: var(--weight-bold);
  font-size: var(--font-medium);
}

.galleryborder__description2 > button {
  margin-top: 5px;
  border: none;
  background-color: transparent;
  transition: 0.5s ease;
  cursor: pointer;
}
.galleryborder__description2 > button:hover {
  filter: contrast(0.5); /*흐려짐 대비 흑백*/
}
.galleryborder__description2 > button > svg {
  background: #ffcf00;
  width: 40px;
  height: 40px;
}
.popup_button {
}
/* 팝업 */
.pop_up {
  padding: 15px;
  width: 100%;
  background-color: #eeeeee;
  border-radius: 1%;
  box-sizing: border-box;
  position: absolute;
  display: none;
  z-index: 10;
  left: 0;
}
.pop_up_wrap {
  margin: auto;
  width: fit-content;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}
/* 팝업 이미지 */
.pop_up_img {
  width: 100%;
  height: 100%;
}
.pop_up_img > img {
  width: 100%;
  height: 100%;
}
/* 팝업 전체 텍스트 */
.pop_up_tl {
  width: 100%;
  height: 100%;
  padding-left: 20px;
}
/* 팝업 제목+설명 */
.pop_up_text {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}
/* 팝업 제목 */
.pop_up_text > h5 {
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* 닫기 버튼 */
.pop_up_can {
  position: absolute;
  top: -3%;
  left: 105%;
}
.pop_up_can img {
  width: 64px;
  width: 64px;
}
/* 키 제한 텍스트 */
.pop_up_hei {
  display: flex;
}
.pop_up_hei_text {
  padding-top: 10px;
}
.pop_up_hei_text > p {
  padding-bottom: 15px;
}
/* 위치 텍스트 */
.pop_up_loc {
  font-size: 16px;
  font-weight: 500;
}
