/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue1: #3f63bf;
  --color-blue2: #0046b6;
  --color-blue3: #00aaff;
  --color-light-yellow: #fefbf2;
  --color-orange: #ff6f00;
  --color-black: #000000;
  --color-green: #00a138;
  --color-yellow: #f9cf13;
  --color-dark-yellow: #ffc400;
  --color-red: #ff0000;

  /* Font size */
  --font-xllarge: 60px;
  --font-large: 48px;
  --font-medium: 32px;
  --font-regular: 20px;
  --font-small: 14px;
  --font-micro: 16px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annmation */

  --anmation-duration: 300ms;

  --main-width: 1035px;
}
/* Universal tags  */
* {
  box-sizing: border-box;
}

body {
  font-family: CeraPro, Noto Sans JP, Nanum Gothic, Helvetica-Light, Helvetica,
    Arial, sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}
/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}
/* COMMON */
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #777;
  text-decoration: dashed;
}
.inner {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
}
/* COMMON */

/* ANIMATION */
@keyframes dropDown {
  0% {
    opacity: 0;
  }
  12% {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    /* transform: translate(0); */
  }
}

#content {
  margin-bottom: 100px;
}

.main_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main_title_img {
  background: url(/image/h_ho_spec_04/pg_main.png) center/cover no-repeat;
  margin-top: 90px;
  width: 100vw;
  display: flex;
}

.main_title_img img {
  width: 100vw;
  height: auto;
  display: block;
}

.main_title_txt {
  margin-top: 6.5rem;
  margin-bottom: 5.5rem;
  background: var(--color-green);
  width: 840px;
  height: 110px;
  opacity: 0.95;
}

.main_title_txt > h1 {
  margin: 0;
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  text-align: center;
  line-height: 110px;
}

#gallerybox {
  width: 1350px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.gallery__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.slide {
  width: 600px;
  height: 600px;
  overflow: hidden;
  position: relative;
}
.slide ul {
  width: 5000px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
}
.slide ul li {
  display: inline-block;
}
#back {
  position: absolute;
  bottom: 0px;
  left: 0;
  cursor: pointer;
  z-index: 1;
}
#next {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  z-index: 1;
}

.galleryborder_title {
  width: 600px;
  margin-left: 6%;
}

.galleryborder_title h2 {
  color: #000;
  font-weight: var(--weight-bold);
  font-size: var(--font-medium);
  line-height: 160%;
  margin-bottom: 30px;
}
.galleryborder_title p {
  line-height: 160%;
  font-size: var(--font-micro);
  word-break: break-word;
}

.red__button {
  /* position: absolute; */
  margin-top: 8%;
  margin-left: 6%;
  width: 255px;
  height: 60px;
  font-size: var(--font-regular);
  background: #d01012;
  color: white;
  flex-wrap: wrap;
}
