/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue1: #3f63bf;
  --color-blue2: #0046b6;
  --color-blue3: #00aaff;
  --color-light-yellow: #fefbf2;
  --color-orange: #ff6f00;
  --color-black: #000000;
  --color-green: #00a138;
  --color-yellow: #f9cf13;
  --color-dark-yellow: #ffc400;
  --color-red: #ff0000;

  /* Font size */
  --font-xllarge: 60px;
  --font-large: 48px;
  --font-medium: 32px;
  --font-regular: 20px;
  --font-small: 14px;
  --font-micro: 16px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annmation */

  --anmation-duration: 300ms;

  --main-width: 1035px;
}
/* Universal tags  */
* {
  box-sizing: border-box;
}

body {
  /* font-family: "Open Sans", sans-serif; */
  margin: 0;
  cursor: default;
  min-width: 1350px;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}
/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}
.main_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main_title_img {
  background: url(/image/h_ho_alli_01/hotel_main.png) center/cover no-repeat;
  margin-top: 90px;
  width: 100vw;
  display: flex;
}

.main_title_img img {
  width: 100vw;
  height: auto;
  display: block;
}

.main_title_txt {
  margin-top: 6.5rem;
  margin-bottom: 5.5rem;
  background: var(--color-green);
  width: 900px;
  height: 110px;
  opacity: 0.95;
}

.main_title_txt > h1 {
  margin: 0;
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  text-align: center;
  line-height: 110px;
}

#textarea,
#coalitionbanner1,
#coalitionbanner2 {
  width: 1350px;
  margin: auto;
}
#coalitionbanner1 {
}
.textarea_description {
  padding: 80px;
  text-align: center;
  width: 1350px;
  margin: auto;
}

.bannertitle1 {
  position: relative;
  background-color: #eeeeee;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.bannertitle1__text1 {
  padding-top: 50px;
  color: var(--color-orange);
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  text-align: center;
}
.bannertitle1__box1 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 50px;
  gap: 100px;
}

.banner__icon svg {
  width: 70px;
  height: 70px;
  background: var(--color-orange);
  border-radius: 50%;
  /* line-height: 170px;
  margin-bottom: 20px; */
}
.banner__text {
  color: var(--color-orange);
  font-weight: var(--weight-bold);
}

.bannertitle2 {
  background-color: #eeeeee;
  width: 100%;
  margin: auto;
}
.bannertitle2__text2 {
  margin-top: 150px;
  padding: 50px 0;
  color: var(--color-black);
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  text-align: center;
}

#gallerybox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}
.gallery__container {
  display: flex;
}
.slide {
  width: 600px;
  height: 600px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.slide ul {
  width: 5000px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
}
.slide ul li {
  display: inline-block;
}
#back {
  position: absolute;
  bottom: 0px;
  left: 0;
  cursor: pointer;
  z-index: 1;
}
#next {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  z-index: 1;
}

.galleryborder {
  background-color: var(--color-light-yellow);
  width: 700px;
  /* position: relative; */
}
/* 
.galleryborder__wrap {
  display: flex;
  /* flex-direction: column; */
/* justify-content: space-between;
} */

.galleryborder__text h1 {
  color: var(--color-blue1);
  font-size: var(--font-large);
  margin-left: 6%;
}

.galleryborder__description {
  width: 50%;
  font-size: var(--font-small);
  margin-left: 6%;
}

.red__button {
  /* position: absolute; */
  margin-top: 2%;
  margin-left: 6%;
  width: 255px;
  height: 60px;
  font-size: var(--font-regular);
  background: #d01012;
  color: white;
}

.gridbox__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.gridbox__list img {
  width: 300px;
  height: 300px;
}

.gridbox__list span {
  width: 300px;
}

/* .major__icon i {
  transition: all var(--anmation-duration);
}
.major__icon i:hover {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.1);
}
.major__title,
.major__description {
  color: var(--color-grey);
}
.major__description {
  font-size: var(--font-small);
} */

/* .about__jobs {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.job {
  display: flex;
  align-items: center;
}

.job__logo {
  width: 50px;
  height: 50px;
} */

/* .job__description {
  margin: 0 16px;
  text-align: left;
} */
/* 
.job__name,
.job__period {
  color: var(--color-light-grey);
} */

/* .job__name {
  font-size: var(--font-small);
} */

/* .job__period {
  font-size: var(--font-micro);
} */

/* work */

/* .work__categories {
  margin: 40px;
} */
/* .category__btn {
  border: 0.5px solid var(--color-black);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
} */

/* .category__btn.active,
.category__btn:hover {
  background-color: var(--color-light-grey);
} */

/* .category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
} */

/* .category__count {
  background-color: var(--color-dark-pink);
  border: 1px solid var(--color-black);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--anmation-duration);
} */
