/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue1: #3f63bf;
  --color-blue2: #0046b6;
  --color-blue3: #31a1e0;
  --color-light-yellow: #fefbf2;
  --color-orange: #ff6f00;
  --color-black: #000000;
  --color-green: #00a138;
  --color-yellow: #f9cf13;
  --color-dark-yellow: #ffc400;
  --color-red: #ff0000;

  /* Font size */
  --font-xllarge: 60px;
  --font-large: 48px;
  --font-medium: 32px;
  --font-regular: 20px;
  --font-small: 14px;
  --font-micro: 16px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annmation */

  --anmation-duration: 300ms;

  --main-width: 1035px;
}
/* Universal tags  */
* {
  box-sizing: border-box;
}

body {
  /* font-family: "Open Sans", sans-serif; */
  margin: 0;
  cursor: default;
  min-width: 1350px;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}
/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

.hotelmain_img {
  background: url(/h_main/main_img.png) center/cover no-repeat;
  margin-top: 90px;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hotelmain_img img {
  width: 100vw;
  height: auto;
  display: block;
}

.hotel_title {
  margin-top: 6.5rem;
  margin-bottom: 5.5rem;
  background: var(--color-blue3);
  width: 900px;
  height: 200px;
  margin-left: -700px;
}

.hotel_title > h1 {
  margin: 0;
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  text-align: start;
  margin-left: 40px;
  line-height: 200px; /* Set the same value as the height of the parent container */
}

/* 카드 전체 배열 */
.all_att {
  width: 1350px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  font-size: 16px;
  font-style: normal;
  margin-bottom: 200px;
}
/* * 카드 */

.card {
  border: 1.5px solid rgb(229, 229, 229);
  background: #fff;
  width: 400px;
  height: 620px;
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
/* 카드 마우스 오버 시 */
.card:hover {
  background: rgb(247, 247, 247);
}

/* 카드 이미지 */
.card_img {
  width: 400px;
  height: 400px;
  overflow: hidden;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.card img {
  width: 400px;
  height: 400px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
/* 카드 이미지 마우스 오버 */
.card:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* 카드 전체 내용 묶음 */

.card_textbox {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card_body {
  height: 150px;
  margin-bottom: 100px;
}

/* 카드 제목_ */
.card_body > .card_title > h4 {
  font-size: 150%;
  margin-top: 25px;
  padding: 0px 20px;
  font-weight: var(--weight-bold);
  color: var(--color-red);
}

/* 카드 설명 */
.card_body > .card_title > h5 {
  padding: 20px 20px;
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
}

.readmore_box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
.readmore {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.readmore svg {
  fill: red;
}
.readmore a {
  text-decoration: none;
  color: red;
}
.readmore a:hover {
  text-decoration: underline;
}
.card78_box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -400px;
}
#gallerybox {
  width: 1350px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.slide {
  width: 700px;
  height: 700px;
  overflow: hidden;
  position: relative;
}
.slide ul {
  width: 5000px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
}
.slide ul li {
  display: inline-block;
}
#back {
  position: absolute;
  bottom: 0px;
  left: 0;
  cursor: pointer;
  z-index: 1;
}
#next {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  z-index: 1;
}
.red__button {
  /* position: absolute; */
  margin-top: 8%;
  margin-left: 6%;
  width: 255px;
  height: 60px;
  font-size: var(--font-regular);
  background: #d01012;
  color: white;
}

.galleryborder_title {
  width: 700px;
  margin-left: 6%;
}

.galleryborder_title h2 {
  color: var(--color-blue3);
  font-weight: var(--weight-bold);
  font-size: var(--font-large);
  margin-bottom: 30px;
}
.textarea_title h3 {
  color: var(--color-orange);
  font-weight: var(--weight-bold);
  font-size: var(--font-large);
  padding-top: 3%;
  text-align: center;
}

#textarea {
  margin-top: 2px;
  margin-bottom: 100px;
}
.textarea_description_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
}

.galleryborder__description,
.textarea_description p {
  line-height: 160%;
  font-size: var(--font-micro);
  word-break: break-word;
}
