/* COMMON */
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #777;
  text-decoration: dashed;
}
.inner {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
}
/* COMMON */

/* footer */
footer {
  width: 100vw;
  height: 10%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  box-sizing: border-box;
}
footer .foot_section {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .foot_section .foot {
  display: flex;
  color: #555;
  box-sizing: border-box;
}
footer .foot_section .foot li {
  margin-right: 25px;
  display: flex;
  align-items: center;
}
footer .foot_section .foot li:last-child {
  margin-right: 0;
}
footer .foot_section .foot li span,
footer .foot_section .foot li a {
  color: #555;
}
footer .foot_section .foot li span:hover,
footer .foot_section .foot li a:hover {
  cursor: pointer;
  text-decoration: underline;
}

footer .foot_section .foot_1 {
  width: 40%;
  justify-content: flex-start;
  margin-left: 35px;
}
footer .foot_section .foot_2 {
  width: 20%;
  justify-content: center;
}
footer .foot_section .foot_2 li {
  width: 40px;
  height: 40px;
}
footer .foot_section .foot_2 li a {
  width: 40px;
  height: 40px;
}
footer .foot_section .foot_2 li #popup_open_btn_3 {
  width: 40px;
  height: 40px;
  background-color: #ea4335;
  border: 1px solid #ea4335;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .foot_section .foot_2 li #popup_open_btn_3 svg {
  color: #fff;
}
footer .foot_section .foot_2 li .app_store,
footer .foot_section .foot_2 li .play_store {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .foot_section .foot_2 li span img {
  color: #fff;
}

footer .foot_section .foot_3 {
  width: 40%;
  justify-content: flex-end;
  margin-right: 35px;
}
/* footer */

/* Modal Pop-up */

/* LEGOLAND® Korea Resort 모달 팝업 */
#my_modal_1 {
  display: none;
  width: 1300px;
  padding: 20px 60px;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 3px;
}
#my_modal_1 p.logo {
  margin: 40px 0;
  padding-left: 28%;
  box-sizing: border-box;
}
#my_modal_1 p {
  margin: 10px 0;
  line-height: 1.5;
}
#my_modal_1 .modal_close_btn_1 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
}
#my_modal_1 .modal_close_btn_1:hover {
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
}
/* LEGOLAND® Korea Resort 모달 팝업 */

/* Other LEGOLAND® Parks 모달 팝업 */
#my_modal_2 {
  display: none;
  width: 700px;
  padding: 20px 60px;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 3px;
}
#my_modal_2 h2 {
  font-size: 40px;
  font-weight: 700;
}
#my_modal_2 ul {
  margin-top: 30px;
}
#my_modal_2 ul li {
  margin: 10px 0 10px 20px;
}
#my_modal_2 ul li a {
  font-size: 18px;
  color: #000;
  text-decoration: none;
}
#my_modal_2 ul li a:hover {
  text-decoration: underline;
}
#my_modal_2 .modal_close_btn_2 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
}
#my_modal_2 .modal_close_btn_2:hover {
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
}
/* Other LEGOLAND® Parks 모달 팝업 */

/* newsletter 모달 팝업 */
#my_modal_3 {
  display: none;
  width: 1000px;
  padding: 20px 60px;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 3px;
}
#my_modal_3 form h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}
#my_modal_3 form p {
  margin-bottom: 30px;
  line-height: 1.5;
}
#my_modal_3 form p input {
  width: 570px;
  height: 30px;
  padding: 5px;
  margin: 10px 0 0 0;
}
#my_modal_3 form .sub_btn button {
  display: block;
  font-size: 20px;
  width: 570px;
  height: 40px;
  padding: 0 auto;
  text-align: center;
  background: #006db7;
  color: #fff;
  border: 0;
}
#my_modal_3 .modal_close_btn_3 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
}
#my_modal_3 .modal_close_btn_3:hover {
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
}
/* newsletter 모달 팝업 */

/* policy 모달 팝업 */
#my_modal_4 {
  display: none;
  width: 700px;
  padding: 20px 60px;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 3px;
}
#my_modal_4 h2 {
  font-size: 40px;
  font-weight: 700;
}
#my_modal_4 ul {
  margin-top: 30px;
}
#my_modal_4 ul li {
  margin: 10px 0 10px 20px;
}
#my_modal_4 ul li a {
  font-size: 18px;
  color: #000;
  text-decoration: none;
}
#my_modal_4 ul li a:hover {
  text-decoration: underline;
}
#my_modal_4 .modal_close_btn_4 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
}
#my_modal_4 .modal_close_btn_4:hover {
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
}
/* policy 모달 팝업 */

/* Terms & Conditions 모달 팝업 */
#my_modal_5 {
  display: none;
  width: 700px;
  padding: 20px 60px;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 3px;
}
#my_modal_5 h2 {
  font-size: 40px;
  font-weight: 700;
}
#my_modal_5 ul {
  margin-top: 30px;
}
#my_modal_5 ul li {
  margin: 10px 0 10px 20px;
}
#my_modal_5 ul li a {
  font-size: 18px;
  color: #000;
  text-decoration: none;
}
#my_modal_5 ul li a:hover {
  text-decoration: underline;
}
#my_modal_5 .modal_close_btn_5 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
}
#my_modal_5 .modal_close_btn_5:hover {
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
}
/* Terms & Conditions 모달 팝업 */

/* Our Company 모달 팝업 */
#my_modal_6 {
  display: none;
  width: 700px;
  padding: 20px 60px;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 3px;
}
#my_modal_6 h2 {
  font-size: 40px;
  font-weight: 700;
}
#my_modal_6 ul {
  margin-top: 30px;
}
#my_modal_6 ul li {
  margin: 10px 0 10px 20px;
}
#my_modal_6 ul li a {
  font-size: 18px;
  color: #000;
  text-decoration: none;
}
#my_modal_6 ul li a:hover {
  text-decoration: underline;
}
#my_modal_6 .modal_close_btn_6 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
}
#my_modal_6 .modal_close_btn_6:hover {
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
}
/* Our Company 모달 팝업 */

/* Legoland App Download */
#my_modal_7 {
  display: none;
  width: 1000px;
  height: 500px;
  padding: 50px;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 3px;
}
#my_modal_7 h2 {
  font-size: 40px;
  font-weight: 700;
}
#my_modal_7 .store {
  width: 950px;
  height: 400px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#my_modal_7 .store .apple,
#my_modal_7 .store .google {
  width: 500px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}
#my_modal_7 .store .apple {
  margin-right: 50px;
  background-color: #000;
}
#my_modal_7 .store .apple .image,
#my_modal_7 .store .google .image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#my_modal_7 .store .apple .image img {
  width: 350px;
  height: 350px;
}
#my_modal_7 .store .google .image img {
  width: 400px;
  height: 300px;
}
#my_modal_7 .store .google {
  background-color: #fff;
  border: 1px solid #aaa;
}
#my_modal_7 .modal_close_btn_7 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
}
#my_modal_7 .modal_close_btn_7:hover {
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
}
/* Legoland App Download */

/* Modal Pop-up */
